* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.intro-section {
    height: 100vh;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    padding: 50px 200px 0px 100px;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
}

.intro-text {
    max-width: 700px;


}

.intro-heading {
    font-size: 60px;
    max-width: 700px;
    color: #272727;
}

.intro-image {

    width: 535px;
    height: 655px;
    margin-left: 50px;
    background-position: bottom right;


}

.btn {
    padding: 15px 40px;
    border-radius: 5px;
    border-style: none;
    background: #E55473;
    color: white;
}

/* feature section */
.feature-section {
    height: 100vh;
    margin-bottom: 100px;
}

.featured-flower {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.featured-headline {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.featured-description {

    width: 600px;


}

.flower-image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px 10px 200px;


}

.flower-box1 {
    width: 300px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    background-position: center;
}

.flower-box2 {
    width: 300px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    background-position: center;
}

.flower-box3 {
    width: 300px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    background-position: center;
}

.flower {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.flower-caption {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}

/* service section */


.service-section {

    width: 720px;
    height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 100px;
    background: rgba(39, 39, 39, 0.05);
    margin: auto;


}

.service-text {
    font-size: 14px;
    color: rgba(39, 39, 39, 0.80);
}

/* Hot deal section */
.hot-deal-section {
    max-height: 50%;
    margin-top: 130px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 80px 250px 30px 200px;
    background: rgba(39, 39, 39, 0.05);
    border-radius: 5px;
}

.deal-section {
    max-width: 50%;
    margin-right: 100px;
}

/* insta section */

.insta-photo-container {

    margin: 50px 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;



}

.insta-photo {

    width: 24%;
    object-fit: contain;

}
.insta-headline{
    color: #272727;
    margin-top: 80px;
    text-align: center;
    font-size: 30px;
}
.insta-text{
    text-align: center;
    max-width: 50%;
    margin: auto;
}